<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">BLOG</h5>
          <p>
            <strong>ID</strong>: {{blogs.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{blogs.title}}</p>
          <p>
            <strong>Description:</strong> {{blogs.content}}</p>
            <a href="/blogs">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
